<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Pingdom RUM -->
    <script>
      var _prum = [['id', '5739600dabe53d055299b2a7'],
                   ['mark', 'firstbyte', (new Date()).getTime()]];
      (function() {
          var s = document.getElementsByTagName('script')[0]
            , p = document.createElement('script');
          p.async = 'async';
          p.src = '//rum-static.pingdom.net/prum.min.js';
          s.parentNode.insertBefore(p, s);
      })();
    </script>
    <!-- TypeKit -->
    <script src="https://use.typekit.net/elb0jej.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- Site Styles -->
    <link rel="stylesheet" href="/css/serious.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    {{ content }}
  </body>
</html>
